@CHARSET "UTF-8";
#tag a {
	background-color: #ecf0f1;
}
.userInfo {
	background-color: #ecf0f1;
}
.answerContent {
	margin-bottom: 10px;
}
.votebar {
	background-color: #ECF0F1;
	margin-bottom: 10px;
}
.votebar:hover {
	background-color: #2ECC71;
}
.voted {
	background-color: #2ECC71;
}
.signature {
	font-size: 50%;
}
