<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henry.dao.ArticleMapper">
        <resultMap id="BaseResultMap" type="Article">
	        <id column="id" jdbcType="INTEGER" property="id" />
	        <result column="title" jdbcType="VARCHAR" property="title" />
	        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
	        <result column="content" jdbcType="LONGVARCHAR" property="content" />
        </resultMap>
        
        <resultMap extends="BaseResultMap" id="RelativeResultMap" type="Article">
	        <association property="user" javaType="User">
	        	<id column="uid" property="id" jdbcType="INTEGER"/>
	        	<result column="username" property="username" jdbcType="VARCHAR" />
	        	<result column="picture" property="picture" jdbcType="VARCHAR" />
	        </association>
	        <association property="columns" javaType="Columns">
	        	<id column="cid" property="id" jdbcType="INTEGER"/>
	        </association> 
        </resultMap>
        
	<insert id="insert" parameterType="Article">
		insert into article
		(title, content, created_time, columns_id, user_id)
		values (#{title, jdbcType=VARCHAR}, #{content, jdbcType=LONGVARCHAR}, #{createdTime, jdbcType=TIMESTAMP},
		#{columns.id, jdbcType=INTEGER}, #{user.id, jdbcType=INTEGER})
	</insert>
</mapper>