<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.henry.dao.ArticleTagMapper" >
    <resultMap id="BaseResultMap" type="ArticleTag" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="article_id" property="article.id" jdbcType="INTEGER" />
        <result column="tag_id" property="tag.id" jdbcType="INTEGER" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, article_id, tag_id
    </sql>
	
	<insert id="insert">
		insert into article_tag (id, article_id, tag_id
            )
        values (#{id, jdbcType=INTEGER}, #{article.id, jdbcType=INTEGER}, #{tag.id, jdbcType=INTEGER}
            )
	</insert>    
</mapper>