<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henry.dao.ArticleMapper">
        <resultMap id="BaseResultMap" type="Article">
	        <id column="aid" jdbcType="INTEGER" property="id" />
	        <result column="atitle" jdbcType="VARCHAR" property="title" />
	        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
	        <result column="content" jdbcType="LONGVARCHAR" property="content" />
        </resultMap>
        
        <resultMap extends="BaseResultMap" id="RelativeResultMap" type="Article">
	        <association property="user" javaType="User">
	        	<id column="uid" property="id" jdbcType="INTEGER"/>
	        	<result column="username" property="username" jdbcType="VARCHAR" />
	        	<result column="picture" property="picture" jdbcType="VARCHAR" />
	        </association>
	        
	        <association property="columns" javaType="Columns">
	        	<id column="cid" property="id" jdbcType="INTEGER"/>
	        	<result column="ctitle" property="title" jdbcType="VARCHAR"/>
	        </association>
	         
	        <collection property="tags" ofType="Tag">
	        	<id column="tid" property="id" jdbcType="INTEGER"/>
	        	<result column="name" property="name" jdbcType="VARCHAR"/>
	        </collection>
        </resultMap>
        
	<insert id="insert" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
		insert into article
		(title, content, created_time, columns_id, user_id)
		values (#{title, jdbcType=VARCHAR}, #{content, jdbcType=LONGVARCHAR}, #{createdTime, jdbcType=TIMESTAMP},
		#{columns.id, jdbcType=INTEGER}, #{user.id, jdbcType=INTEGER})
	</insert>
	
	<!-- 根据ID选出文章 -->
	<select id="selectById" resultMap="RelativeResultMap" parameterType="INTEGER">
		select a.id as aid, a.title as atitle, a.content, a.created_time,
		u.id as uid, u.username, u.picture,
		c.id as cid, c.title as ctitle,
		t.id as tid, t.name
		from article a
		join user u on a.user_id = u.id 
		join columns c on a.columns_id = c.id 
		join article_tag at on at.article_id = a.id 
		join tag t on at.tag_id = t.id 
		where a.id = #{id, jdbcType=INTEGER}
		order by created_time desc
		limit 0,20
	</select>
	
	<select id="selectAllByTime" resultMap="RelativeResultMap">
	 	select a.id as aid, a.title as atitle, 
		t.id as tid, t.name
        from article a left join article_tag at on at.article_id = a.id left join tag t on at.tag_id = t.id
    </select>
    
	<!-- 选出某个专栏的所有文章 -->
	 <select id="selecyByColumnsId" resultMap="RelativeResultMap" parameterType="INTEGER">
		select a.id as aid, a.title as atitle, a.created_time,
		t.id as tid, t.name
		from article a
		join article_tag at on at.article_id = a.id 
		join tag t on at.tag_id = t.id 
		where a.columns_id = #{id, jdbcType=INTEGER}
		order by created_time desc
		limit 0,20
	</select>
	
	<select id="selectByTag" resultMap="RelativeResultMap" parameterType="INTEGER">
		select a.id as aid, a.title as atitle, 
		t.id as tid, t.name
        from article a left join article_tag at on at.article_id = a.id left join tag t on at.tag_id = t.id
		where t.id = #{id, jdbcType=INTEGER}
	</select>
	
	<select id="selectByTitle" resultMap="RelativeResultMap" parameterType="String">
		select a.id as aid, a.title as atitle, 
		t.id as tid, t.name
        from article a left join article_tag at on at.article_id = a.id left join tag t on at.tag_id = t.id
        where a.title like concat('%',#{title, jdbcType=VARCHAR},'%') 
	</select>
	
    <update id="updateById" parameterType="Article" >
        update article set
        title = #{title, jdbcType=VARCHAR}, content = #{content, jdbcType=LONGVARCHAR} 
        where id = #{id, jdbcType=INTEGER}
    </update>
    
    <delete id="delete" parameterType="INTEGER">
    	delete from article where id = #{id, jdbcType=INTEGER}
    </delete>
</mapper>