<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.henry.dao.ColumnsMapper">
	<resultMap id="BaseResultMap" type="Columns">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<association property="user" javaType="User">
			<result column="uid" property="id" jdbcType="INTEGER" />
		</association>
	</resultMap>
	
	<sql id="Base_Column_List">
		id, title, summary, user_id
	</sql>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from columns
		where id = #{id, jdbcType=INTEGER}
	</select>
	
	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from columns
		where user_id = #{userId, jdbcType=INTEGER}
	</select>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from columns
		where id = #{id, jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="Columns" keyProperty="id" useGeneratedKeys="true">
		insert into columns 
		(id, title, summary, user_id)
		values (#{id, jdbcType=INTEGER}, #{title, jdbcType=VARCHAR}, #{summary, jdbcType=VARCHAR},
		<if test="user!=null and user.id!=null">
			#{user.id, jdbcType=INTEGER})
		</if>
	</insert>
	
	<update id="updateByIdSelective" parameterType="Columns">
		update columns
		<set>
			<if test="title != null">
				title = #{title, jdbcType=VARCHAR},
			</if>
			<if test="summary != null">
				summary = #{summary, jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id, jdbcType=INTEGER}
	</update>
</mapper>